/* Home */
.home{
    position: absolute;
    width: 995px;
    left: 222px;
    line-height: 19px;
}

/* Home Presentation */

/* Home Map */

/* Home Table */

table {
    border : none;
}

td, th {
    border-bottom: 1px solid black;
}

.jour{
    width: 167px;
    line-height: 19px;
}

.heure{
    position: absolute;
    text-align: right;
}