/* div{
    border: 1px solid red;
} */
.flex{
    display: flex;
}
.navbar-background{
    height: 23px;
    background-color: var(--site-navbar-bg);
    width: 100%;
    position: absolute;
    top: 80px;
}
.navbar-logo{
    width: 180px;
    position: absolute;
    left: 400px;
    top: 16px;
    z-index: 100;
}
.navbar-list {
    width: 428px;
    justify-content: space-evenly ;
    margin: 0;
    text-transform : uppercase;
    font-size: 20px;
    height: 23px;
    position: absolute;
    left: 611px;
}

.navbar-list li{
    border-right:1px solid black;
    text-align: center;
}
.admin{
    position: absolute;
    right: 10px;
}
